:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #1e2b27;
    --entry: #1e2b27;
    --primary: #d8e3e0;
    --secondary: #89b99b;
    --tertiary: #a2ccb8;
    --content: #d8e3e0;
    --code-block-bg: #2c3b36;
    --code-bg: #3a4a45;
    --border: #354740;
}

.dark {
    --theme: #1e2b27;
    --entry: #1e2b27;
    --primary: #d8e3e0;
    --secondary: #89b99b;
    --tertiary: #a2ccb8;
    --content: #d8e3e0;
    --code-block-bg: #2c3b36;
    --code-bg: #3a4a45;
    --border: #354740;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}

